<app-header></app-header>
<div class="container mt-6">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">date</th>
        <th scope="col">Hospital</th>
        <th scope="col">Donor </th>
        <th scope="col">Gender</th>
        <th scope="col">Gov Id</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donation of donations">
        <td>{{ donation.donor.id }}</td>
        <td>{{ donation.date | date }}</td>
        <td>{{ donation.hospital.name }}</td>
        <td>{{ donation.donor.firstName  }} {{ donation.donor.lastName  }}</td>
        <td>{{donation.donor.gender}}</td>
        <td>{{donation.donor.govId}}</td>
        <td>{{donation.donor.phone  }}</td>
        <td>{{donation.donor.email}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">date</label>
            <input type="date" formControlName="date" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Hospital</label>
            <select class="form-select" formControlName="hospital" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option *ngFor="let hospital of hospitals" value="{{hospital.id}}">{{hospital.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Donor</label>
            <select class="form-select" formControlName="donor" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option *ngFor="let user of appUser" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
