<app-header></app-header>

<div class="container">

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hospital name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">manager</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hospital of hospitals">
        <th scope="row">{{ hospital.id }}</th>
        <th scope="row">{{ hospital.name }}</th>
        <td>{{ hospital.address }}</td>
        <td>{{ hospital.phone }}</td>
        <td>{{ hospital.email }}</td>
        <td>{{ hospital.city.name }}</td>
        <td>{{ hospital.manager.firstName }} {{ hospital.manager.lastName }}</td>

      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade"  *ngIf="role === 'ADMIN'"id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">address</label>
            <input type="text" formControlName="address" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">phone</label>
            <input type="text" formControlName="phone" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">email</label>
            <input type="text" formControlName="email" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">city</label>
            <select class="form-select" formControlName="city" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option *ngFor="let city of cities " value="{{city.id}}">{{city.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">manager</label>
            <select class="form-select" formControlName="manager" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option *ngFor="let user of appUser" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
