<app-header></app-header>
<h2 class="m-3">Your profile</h2>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{appUser?.firstName}}</span><span class="text-black-50">{{appUser?.email}}</span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value="{{ appUser?.firstName}}"></div>
                  <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="{{ appUser?.lastName}}" placeholder="surname"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="{{appUser?.phone}}"></div>
                  <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email id" value="{{appUser?.email}}"></div>
                  <div class="col-md-12"><label class="labels">Date of birth</label><input type="text" class="form-control" placeholder="education" value="{{appUser?.birthDate | date}}"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="Morocco"></div>
                  <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" value="{{appUser?.city?.name}}" placeholder="state"></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Additional information</span></div><br>
              <div class="col-md-12"><label class="labels">Blood type</label><input type="text" class="form-control" placeholder="experience" value="{{appUser?.bloodType?.name}}"></div> <br>
              <div class="col-md-12"><label class="labels">Gov id</label><input type="text" class="form-control" placeholder="additional details" value="{{appUser?.govId}}"></div>
          </div>
      </div>
  </div>
</div>
